{% extends 'base.html'%}
{% if data %}
{% block title %}
{{data.1}}
{{super()}}
{% endblock%}
{% include 'includes/navbar.html' %}
{% block content %}
<h1 class="display-2 text-center my-5">Casa {{data.1}}</h1>
<div class="container mt-5">
    <div class="row">
        <div class="col-8">
            <div class="card">
                {% if data.4 %}
                <img src="{{data[4]}}" class="card-img-top" alt="...">
                {%else%}
                <img src="{{url_for('static', filename='images/default_foto.png')}}" width="20px" class="card-img-top"
                    alt="...">
                {%endif%}
                <div class="card-body">
                    <h5 class="card-title my-2"><i class="bi bi-geo-alt-fill mx-1 fs-4 text-danger"></i>{{data.1}}</h5>
                    <h4 class="my-2"><i class="bi bi-tags mx-2 fs-5 text-primary"></i>Lps. {{data.3}}</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-danger">
                        <i class="bi bi-cart-plus"></i>
                        Agregar al carrito
                    </a>
                    <a href="#" class="btn btn-outline-danger"><i class="bi bi-heart-fill mx-1"></i>Mis deseos</a>
                    <a href="#" class="btn btn-outline-primary"><i class="bi bi-person-lines-fill mx-1"></i>Contactar al
                        vendedor</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card h-auto">
                <div class="card-header bg-success">
                    <h5 class="card-title my-3 text-center text-white">Estoy interesado</h5>
                </div>
                <div class="card-body">

                    <form action="">
                        <div class="form-group">
                            <input type="text" name="" placeholder="Mi nombre" class="form-control my-2">
                        </div>
                        <div class="form-group">
                            <input type="text" name="" placeholder="Mi correo" class="form-control my-2">
                        </div>
                        <div class="form-group">
                            <input type="text" name="" placeholder="Telefono" class="form-control my-2">
                        </div>
                    </form>
                    <a href="#" class="btn btn-success"><i class="bi bi-envelope mx-1"></i>Enviar</a>
                    <a href="#" class="btn btn-outline-success"><i class="bi bi-whatsapp mx-1"></i>WhatsApp</a>
                </div>
            </div>
            <div class="card h-auto my-4">
                <div class="card-header bg-danger">
                    <h5 class="card-title my-3 text-center text-white">Crear mi venta</h5>
                </div>
                <div class="card-body">
                    <form action="">
                        <div class="form-group">
                            <input type="text" name="" placeholder="Mi nombre" class="form-control my-2">
                        </div>
                        <div class="form-group">
                            <input type="text" name="" placeholder="Mi correo" class="form-control my-2">
                        </div>
                        <div class="form-group">
                            <input type="text" name="" placeholder="Telefono" class="form-control my-2">
                        </div>
                    </form>
                    <a href="#" class="btn btn-danger"><i class="bi bi-person-vcard-fill mx-1"></i>Registrar</a>
                </div>
            </div>
            <div class="card h-auto my-4">
                <div class="card-header bg-light">
                    <h5 class="card-title my-3 text-center">Ver viviendas</h5>
                </div>
                <div class="card-body">
                    <div id="carouselExampleCaptions" class="carousel slide">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                                aria-label="Slide 4"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                                aria-label="Slide 5"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="../../static/images/h1.png" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <a href="#" class="btn btn-primary">Ver casa</a>
                                </div>
                            </div>
                            {% for data in data_2 %}
                            <div class="carousel-item">
                                <img src="{{data[4]}}" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <a href="{{url_for('house.house_details', id=data[0])}}" class="btn btn-primary">Ver
                                        casa</a>
                                </div>
                            </div>
                            {%endfor%}

                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}
{%endif%}