{% extends 'base.html' %}
{% include 'includes/navbar.html'%}
{% block title %}
Editar Informacion
{{super()}}
{%endblock%}
{% block content %}
{% if data %}
<h2 class="text-center my-5">Casa de {{data.1}}</h2>
<div class="d-flex justify-content-center align-items-center vh-auto">
    <div class="card">
        <div class="card-header">
            <h3>Editar informacion</h3>
        </div>
        <div class="card-body">
            <form action="{{url_for('house.update')}}" method="post">
                <input type="hidden" value="{{data.0}}" name="id">
                <input type="text" name="direccion" value="{{data.1}}" class="form-control my-2" placeholder="Direccion"
                    id="">
                <input type="text" name="propietario" value="{{data.2}}" class="form-control my-2"
                    placeholder="Propietario" id="">
                <input type="text" name="precio" value="{{data.3}}" class="form-control my-2" placeholder="Precio"
                    id="">
                <input type="text" name="foto" value="{{data.4}}" class="form-control my-2" placeholder="Url foto"
                    id="">
                <button type="submit" class="btn btn-success w-100"><i class="bi bi-box-arrow-up mx-1"></i>Actualizar</button>
                <a href="{{url_for('house.house_delete', id=data.0)}}" class="btn btn-danger my-2 w-100"><i
                        class="bi bi-trash mx-1"></i>Eliminar</a>
                <a href="{{url_for('index')}}" class="btn btn-outline-primary w-100">Home</a>
            </form>
        </div>
    </div>
</div>
{% endif%}
{%endblock%}