{% extends 'base.html' %}
{% include 'includes/navbar.html'%}
{% block title %}
Home
{{super()}}
{%endblock%}
{% block content %}
<!-- Primer div -->
<div class="vh-100 bg-dark text-white d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h1 class="display-1">Obten la vivienda de tus sueños, <br>la que siempre quisiste!
        </h1>
        <a href="{{url_for('house.list_houses')}}" class="btn btn-primary btn-lg">Empezar</a>
    </div>
</div>
<!-- Segundo div -->
<div class="container">
    <div class="row vh-100">
        <div class="col-6 text-center  my-auto">

            <p class="display-6">Desde apartamentos modernos hasta amplias casas
                familiares, <br>¡tenemos algo para todos!</p>
        </div>
        <div class="col-6 my-auto">
            <img src="{{url_for('static', filename='images/casa1.jpg')}}" alt="">
        </div>

    </div>
</div>
<!-- Precio -->
<div class="container-fluid bg-light pt-3">
    <h2 class="text-center my-5 display-1">Precios accesibles</h2>
    <div class="d-flex justify-content-evenly mt-3">
        <div class="card" style="width:20rem">
            <img src="{{url_for('static', filename='images/h2.png')}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="display-3 text-center mt-4">$500</h2>
                <div class="container my-3">
                    <p class="text-center lead">Viviendas de 2 banios, una sala, 2 domitorios</p>
                </div>
                <a href="{{url_for('house.list_houses')}}" class="btn btn-danger w-100">Ver Mas</a>
            </div>
        </div>
        <div class="card" style="width:20rem">
            <img src="{{url_for('static', filename='images/h4.png')}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="display-3 text-center mt-4">$1,500</h2>
                <div class="container my-3">
                    <p class="text-center lead">Viviendas de 2 banios, una sala, 2 domitorios</p>
                </div>
                <a href="{{url_for('house.list_houses')}}" class="btn btn-danger w-100">Ver Mas</a>
            </div>
        </div>
        <div class="card" style="width:20rem">
            <img src="{{url_for('static', filename='images/h7.png')}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h2 class="display-3 text-center mt-4">$1,800</h2>
                <div class="container my-3">
                    <p class="text-center lead">Viviendas de 2 banios, una sala, 2 domitorios</p>
                </div>
                <a href="{{url_for('house.list_houses')}}" class="btn btn-danger w-100">Ver Mas</a>
            </div>
        </div>
    </div>
</div>
{%endblock%}